{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":3,"column":8},"end":{"row":4,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":4,"column":0},"end":{"row":6,"column":10},"action":"insert","lines":["Django","gunicorn","setuptools"],"id":3}],[{"start":{"row":0,"column":0},"end":{"row":1,"column":16},"action":"remove","lines":["Django==4.2.19","gunicorn==20.1.0"],"id":4}],[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["",""],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":10},"end":{"row":4,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1773134425843,"hash":"20eeb564f4977ca84b08e1efd40476d62cf8d99e"}